                <div class="h1"><h1> You can update your Todo here </h1></div>
                <div class = "sub">
                <form method=post action="/todo/update/">
                {% csrf_token %}
                <input type = "hidden" id="item" name = "item" value={{todoitem}}>
                <input type="date" id="date" name="date"  value=""><br><br>
                <input type="text" id="title" name="title" value={{todoitem}}><br><br>
                <input type="time" id="time" name="time" value=""><br><br>
                
                <button id = "name" name = "name" value = {{todolist}}>submit</button>
                </form>
                </div>